<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJAqFMioSkwz-RrBa_g3PSroHz1mJaqIU</string>
	<key>BUNDLE_ID</key>
	<string>com.omarchioli.crypto</string>
	<key>CLIENT_ID</key>
	<string>423075758346-1taadacpa3q8jv9pq27ommcn2v82ot12.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>423075758346</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:423075758346:ios:8e99eba8f33d8feaba3af3</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>crypto-d5557</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423075758346-1taadacpa3q8jv9pq27ommcn2v82ot12</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-d5557.appspot.com</string>
</dict>
</plist>
